.Login{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .heading{
        text-align: center;
    }
    
    .login-box{
        padding: 3rem;
        border: 1px solid black;
        min-width: 400px;
        border-radius: .4rem;

        label,input{
            display: block;
            width: 100%;
            margin-block: 8px;
            border-radius: .4rem;
        }
        label{
            font-weight: bold;
        }
        input{
            padding: .4rem;
            border:1px solid black;
            font-size: 1rem;
        }
        .submit{
            background-color: #3a82e6;
            color: white;
            border:none;
            margin-top:1rem ;
            padding: .4rem;
        }
        .submit:hover{
            background-color: #1c4989;
        }
        .subheading{
            margin-top: .6rem;
        }
    }
}