.createPost{
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

    .left-post{
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: content;
        margin-right: 10px;
    }
    .right-post{
        flex-grow: 1;
        input{
            width: 100%;
            font-size: 16px;
            padding: 8px 16px;
            border-radius: 5px;
            border: 1px solid var(--border-color);
        }
        .img-container{
            margin-top: 20px;
            .post-img{
                width:100%;
                aspect-ratio: 16/9;
                border-radius: 5px;
            }
        }
        .label-img{
            display: inline-block;
            background-color: var(--accent-color);
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .inputImg{
            display: none;
        }
        .bottom{
            display: flex;
            margin-top:20px;
            justify-content: space-between;
            align-items: center;
        }
    }
}