.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .credits{
    text-align: center;
    margin-block:20px ;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @media only screen and (max-width:450px){
    .Login{
      background-color: aliceblue;
    }
    .Signup{
      background-color: aliceblue;
    }
    .signup-box{
      min-width: 330px !important;
      background-color: #b9cbee;
    }
    .login-box{
      min-width: 330px !important;
      background-color: #b9cbee;
    }
    .feed .container{
      flex-direction: column-reverse;
    }
    .following{
      height: fit-content !important;
    }
    .dummy-img{
      width: 310px;
      height: 300px;
    }
    .profile .container{
      flex-direction: column-reverse;
    }
    .follower-info{
      font-size: 19px;
    }
    .post .content{
      height: 300px !important;
    }
  }